* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Eyesome-Script;
  src: url(https://font-public.canva.com/YAFMT3WXROc/0/Eyesome-Script.4638b439ad9e2117967846f2c.d331d3d1e15d64a9b3865e1e5e8a4f7c.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Etna;
  src: url(https://font-public.canva.com/YADiGTsvS-0/0/Etna-Typeface7608483012636858831.f9a008a.6d452b1046bdb81497ae3d95ac0ba0f0.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Nourd;
  src: url(https://font-public.canva.com/YAD7UEhpH6I/0/Nourd-Medium.28df5fbc175fe1892abe2d179e0.8d1b33039ecfeb48762f4e6262fd476f.woff2)
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Nourd;
  src: url(https://font-public.canva.com/YAD7UKfPF1E/0/Nourd-Heavy.66e180a817b00d1d25ace93b9420.92cf09d53cab83a4570594653c6c5816.woff2)
    format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@keyframes grow {
  0% {
    width: 100%;
  }
  100% {
    height: 100%;
    width: 100%;
    opacity: 1;
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  background: #e5dbd7;
  font-family: "Nourd", sans-serif;
  color: #141414;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.sticky-navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 999;
  background: linear-gradient(rgb(23 22 22), rgb(130, 127, 125, 0));
  background-color: rgba(229, 219, 215, 0.75);
}

#page-logo img {
  padding-left: 10%;
  width: 80px;
  filter: drop-shadow(0 0 0.25rem #fff);
  transition: all 0.85s ease;
}

#page-logo img:hover {
  filter: grayscale(0.25);
}

.menu-container img {
  padding-right: 30%;
  width: 70px;
  filter: drop-shadow(0 0 0.005rem #fff);
  transition: all 0.85s ease;
}

.menu-container img:hover {
  filter: grayscale(0.45);
}

.popover {
  display: none;
}

.popover:target {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 1000%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  width: 0;
  height: 0;
  top: 0;
  color: #343333;
  background: linear-gradient(rgb(23 22 22), rgb(130, 127, 125, 0));
  background-color: #e6dcd7;
  font-family: "Etna", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  opacity: 0;
  animation: 1s grow ease forwards;
}

.nav-list {
  list-style-type: none;
}

.nav-list a {
  text-decoration: none;
  font-size: 40px;
  color: #e6dcd7;
}

.nav-list-item {
  overflow: hidden;
  transition: all 300ms ease;
}

.nav-list-item:hover {
  background-color: rgb(158, 125, 228, 0.75);
  padding-left: 15px;
  color: hsla(0, 0%, 100%, 0.4);
}

.nav-list li {
  padding: 10px 0;
  transform: translateY(160px);
  opacity: 1;
  position: relative;
}

.popover .close::after {
  right: 0.5em;
  top: 1em;
  width: 50px;
  height: 50px;
  position: absolute;
  display: flex;
  z-index: 1;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  background-color: #8b6be5;
  color: #e5dbd7;
  content: "×";
  cursor: pointer;
  opacity: 1;
  animation: 0.5s fadeIn ease forwards 0.5s;
}

.hero {
  position: relative;
  min-height: 70vh;
  padding: 180px 2% 50px;
  align-items: center;
  background-color: #000;
  background-image: url("/images/background.jpg");
  background-position: 0px 0px, 50% 100%;
  background-size: cover;
  background-attachment: scroll, fixed;
}

.hero-wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.hero-grid {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 44px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

.margin-container-hero {
  margin-top: 30px;
}

.hero-text {
  color: #343333;
  font-family: "Nourd", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
  max-width: 100%;
}

.hero-text h1 {
  color: #000000;
  text-shadow: 1px 1px 2px #fff;
  font-family: "Eyesome-Script", sans-serif;
  font-size: 40px;
  inline-size: max-content;
  margin-left: auto;
  margin-right: auto;
}

.hero-text h2 {
  color: #000000;
  text-shadow: 1px 1px 2px #fff;
  font-family: "Etna", sans-serif;
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
  inline-size: max-content;
}

.hero-text p {
  max-width: 80%;
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
}

.highlight-words {
  color: #a07cec;
  text-shadow: 1px 1px 2px #fff;
  transition: all 0.8s ease;
}

.highlight-words:hover {
  color: #7f4dec;
}

.hero-image {
  display: flex;
  flex-direction: column;
}

.hero-image img {
  width: 450px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.button-flex {
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 60px;
}

.button-yellow {
  display: inline-block;
  padding: 10px 40px;
  background-color: #f8e766da;
  border-radius: 50px;
  box-shadow: 1px 1px 10px rgb(115, 115, 115, 0.45);
  transition: all 0.45s ease;
  font-family: "Nourd", sans-serif;
  color: #343333;
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: none;
}

.button-yellow:hover {
  background-color: #fae85a;
  color: #959393;
}

.section-rest {
  background-image: url("/images/pastel-overlays/orange-blue-yellow.png");
  background-position: 0px 0px, 50% 100%;
  background-size: cover;
  background-attachment: scroll, fixed;
  overflow-x: hidden;
}

.section-rest._50px {
  padding-top: 50px;
}

.section-rest._50px.overflow {
  padding: 90px 5% 135px;
}

.section-rest.overflow {
  overflow: hidden;
}

.features-container {
  width: 100%;
  flex-wrap: wrap;
}

.features-section {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
}

.features-wrapper {
  display: flex;
  max-width: 90%;
  margin-right: 25px;
  margin-bottom: 25px;
  padding: 10px 30px 10px 30px;
  align-items: center;
  flex: 0 0 auto;
  border-radius: 30px;
  background-color: rgba(128, 128, 128, 0.161);
  transition: all 500ms ease;
}

.features-wrapper:hover {
  transform: scale(1.1);
}

.feat-icon {
  display: flex;
  width: 45px;
  height: 45px;
  margin-right: 5px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  flex: 0 0 auto;
}

.paragraph-no-margin {
  margin-right: 5px;
  margin-bottom: 0px;
  font-family: "Nourd", sans-serif;
  color: #343333;
  text-shadow: 1px 1px 1px #fff;
  font-size: 24px;
  font-weight: normal;
}

.about-section {
  padding-top: 200px;
  padding-bottom: 130px;
  overflow-x: hidden;
  overflow-y: hidden;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.about-main {
  display: grid;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 44px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .hero-wrapper {
    max-width: 80%;
  }

  .hero-grid {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .hero-text h1 {
    font-size: 30px;
  }

  .hero-text h2 {
    font-size: 26px;
  } 

  .hero-text p {
    max-width: 90%;
    font-size: 16px;
  }

  .hero-image {
    padding-top: 20px;
  }

  .hero-image img {
    width: 250px;
  }

  .footer-grid {
    grid-row-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .bottom-section {
    text-align: left;
    justify-self: start;
  }

  #left-side {
    grid-row-start: span 1;
    grid-row-end: span 1;
    grid-column-start: span 2;
  }

  #right-end {
    margin-left: 120px;
  }
}

@media screen and (max-width: 991px) {
  .hero-container {
    max-width: 80%;
  }

  .about-section {
    padding-top: 340px;
    padding-bottom: 80px;
    max-width: 90%;
  }

  .about-main {
    grid-row-gap: 300px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin-left: 12px;
  }

  .socials-container i {
    margin-left: 24px;
  }
}

.about-images-container {
  display: flex;
  position: relative;
}

#circle-pattern {
  max-width: 260px;
  position: absolute;
  top: -14px;
  left: 9%;
  transform: translateX(-9%);
  filter: opacity(0.75);
}

#profile-photo {
  width: 300px;
  position: absolute;
  top: -14rem;
  left: 71%;
  transform: translateX(-71%);
}

.about-greeting {
  position: absolute;
  color: #000000;
  font-family: "Eyesome-Script", sans-serif;
  font-size: 40px;
  inline-size: max-content;
  text-shadow: 1px 1px 2px #fff;
  transition: all 0.65s ease;
  top: 8rem;
  left: 67%;
  transform: translateX(-67%);
}

.about-caption {
  width: 100%;
  overflow-y: hidden;
}

.about-caption p {
  padding-bottom: 14px;
  text-shadow: 0.25px 0.25px 1px #fff;
}

.about-caption a {
  text-decoration: none;
  color: rgba(160, 119, 247, 0.85);
  font-weight: 700;
  transition: all 0.6s ease;
}

.about-caption a:hover {
  color: #8350f3;
}

.socials-wrapper {
  display: flex;
  position: relative;
  margin-bottom: 24px;
}

.socials-container {
  display: flex;
  position: absolute;
  top: 4rem;
  left: 27%;
  transform: translateX(-27%);
  justify-content: space-between;
}

.socials-container i {
  padding-left: 20px;
  font-size: 24px;
  color: #737373;
  transition: all 0.7s ease;
}

.socials-container i:hover {
  color: #8b5af1;
  text-shadow: 1px 1px 1px #000;
}

.steps {
  margin-top: 180px;
  margin-left: 8%;
  color: #000000;
  text-shadow: 1px 1px 2px #fff;
  font-family: "Eyesome-Script", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0.25px 0.25px 0.35px #fff;
  transition: all 0.65s ease;
}

.steps-grid {
  display: grid;
  max-width: 85%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 160px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: auto;
}

.steps-box {
  padding: 200px 15px 40px 15px;
  border-radius: 20px;
  background-color: #20222e;
  text-shadow: 0.25px 0.25px 0.25px #fff;
  box-shadow: 1px 1px 8px #fff;
  text-align: center;
  transition: all 900ms ease-in-out;
}

#step-one {
  background-image: linear-gradient(125deg, #ac75da, #d48db4);
}

#step-two {
  background-image: linear-gradient(75deg, #a0b2d0, #8b6be5);
}

#step-three {
  background-image: linear-gradient(145deg, #f0deba, #a575e2);
}

.steps-box:hover {
  transform: scale(1.2);
}

.caption-box {
  padding-right: 25px;
  padding-left: 25px;
  position: relative;
  justify-content: center;
  text-align: center;
  z-index: 3;
  color: #20222e;
  text-shadow: 0.25px 0.25px 0.25px #fff;
}

.caption-box img {
  width: 200px;
  position: absolute;
  top: -280px;
  left: 51%;
  transform: translateX(-51%);
  filter: drop-shadow(0 0 0.25rem #fff);
  z-index: -1;
}

#lotus {
  width: 220px;
  top: -220px;
}

.steps-title {
  padding-bottom: 10px;
  font-size: 20px;
  font-family: "Nourd", sans-serif;
  font-weight: bold;
  text-shadow: 0.45px 0.45px 0.45px #fff;
  transition: all 0.65s ease;
}

.caption-box p {
  color: #343333;
  font-size: 16px;
  font-family: "Nourd", sans-serif;
}

.max-w-width {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.projects-section {
  filter: opacity(1);
  margin-top: 180px;
}

.section-bg {
  max-width: 90%;
  position: absolute;
  filter: opacity(0.65);
  overflow-x: hidden;
  z-index: -1;
}

.projects-section h3 {
  color: #000;
  font-size: 40px;
  font-family: "Etna", "Franklin Gothic Medium", sans-serif;
  text-shadow: 0.85px 0.85px 0.65px #fff;
  transition: all 0.45s ease;
}

.projects-header-container {
  position: relative;
  justify-content: center;
  align-items: center;
}

.projects-highlight {
  position: absolute;
  top: -5px;
  left: 51%;
  transform: translateX(-51%);
  width: 400px;
  z-index: -1;
}

.projects-wrapper {
  margin-top: 60px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.projects-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  grid-template-rows: auto auto;
}

.project-content {
  width: 80%;
  min-height: 400px;
  padding: 30px 30px 120px 30px;
  border-radius: 10px;
  transition: all 650ms ease;
  color: #fff;
  text-decoration: none;
}

#fair-aware {
  background-image: linear-gradient(135deg, #f0deba, #a575e2);
}

#postreview {
  background-image: linear-gradient(25deg, #f9f4e8, #f8d67f);
}

.project-content:hover {
  background-color: #141414;
  box-shadow: 6px 6px 7px 6px #141414;
}

.project-image {
  width: 100%;
  border-radius: 6px;
  display: block;
  object-fit: cover;
  filter: opacity(0.65);
  margin-bottom: 30px;
  box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.46);
  transition: transform 500ms ease;
}

.project-image:hover {
  box-shadow: 0 16px 25px 0 rgba(0, 0, 0, 0.49);
  transform: scale(1.1);
  filter: opacity(1);
}

.project-title {
  margin-top: 0px;
  color: #20222e;
  font-family: "Nourd", sans-serif;
  font-size: 26px;
  font-weight: bolder;
  text-shadow: 0.55px 0.55px 0.45px #fff;
  transition: all 0.65s ease;
}

.category-text {
  color: #8b5af1;
  font-family: "Nourd", sans-serif;
  font-size: 16px;
  letter-spacing: 0.3px;
  text-shadow: 0.25px 0.25px 0.35px #fff;
}

.project-summary {
  color: #343333;
  font-family: "Nourd", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  text-shadow: 0.25px 0.25px 0.25px #fff;
  letter-spacing: 0.2px;
  margin-top: 10px;
}

.w-inline-block {
  max-width: 100%;
  display: inline-block;
}

.button-black {
  padding: 10px 14px;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: #fff;
  background-color: rgba(32, 34, 46, 0);
  box-shadow: 4px 4px 15px -5px #000;
  opacity: 1;
  font-family: "Nourd", sans-serif;
  color: #343333;
  text-shadow: 0.25px 0.25px 0.25px #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
}

.button-black:hover {
  background-color: #fff;
  background-image: none;
  color: #b686f4;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  background-color: #ab90e6;
  cursor: pointer;
  padding: 20px;
  border-radius: 100%;
  transition: all 300ms ease;
  animation: 1s fadeIn ease forwards 1s;
}

#myBtn:hover {
  background-color: rgb(138, 91, 241, 0.85);
  box-shadow: 2px 2px 15px #8b5af1;
}

#up-arrow {
  width: 20px;
}

.footer {
  padding: 50px 2% 40px;
  background: linear-gradient(rgb(229, 219, 215, 0), rgb(23, 22, 22));
}

.footer-container {
  display: block;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  text-align: left;
}

.footer-grid {
  display: grid;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.footer-signature {
  color: #141414;
  font-family: "Eyesome-Script", sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 0.85px #fff;
  transition: all 0.65s ease;
}

.footer-caption {
  width: 80%;
  margin-bottom: 10px;
  color: #141414;
  text-shadow: 0.25px 0.25px 100px #ffffff;
  font-size: 17px;
  line-height: 24px;
  font-weight: 200;
}

.footer-link {
  display: inline-block;
  font-family: "Nourd", sans-serif;
  color: #141414;
  font-weight: 700;
  text-decoration: none;
  transition: color 0.75s ease;
}

.footer-link:hover {
  color: #8b5af1;
  text-shadow: 1px 1px 1px #000;
}

.footer-link.bigger {
  margin-right: 12px;
  font-size: 16px;
  font-weight: 700;
}

.footer-link.email {
  margin-top: 2rem;
  text-align: end;
}

.footer-email {
  text-align: end;
}

.footer-navigation-flex {
  display: flex;
}

.copyright-container {
  margin-top: 4.5rem;
}

.copyright-container p {
  color: rgb(171, 144, 230, 0.65);
  text-align: end;
}

.bottom-section {
  text-align: right;
}

.socials-wrapper-bottom {
  display: flex;
  position: relative;
}

.socials-container.copyright {
  display: flex;
  position: absolute;
  top: 6rem;
  left: 94%;
  transform: translateX(-94%);
  justify-content: space-between;
}

.socials-container.copyright i {
  color: #141414;
  text-shadow: 0.35px 0.35px 0.25px #fff;
  transition: color 0.85s ease;
}

.socials-container.copyright i:hover {
  color: #8b5af1;
  text-shadow: 1px 1px 1px #000;
}

.copyright-icons {
  color: #ab90e6;
  transition: color 0.65s ease;
}

.copyright-icons:hover {
  color: #8b5af1;
  text-shadow: 1px 1px 1px #000;
}
